<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" th:include="layout::layout">
<head>
  <title th:fragment="header">Spendings Manager</title>
</head>
<body>

<div th:fragment="content">
  <h2>New expense:</h2>

  <div id="form-box">
  <form>
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
    <p th:text="${internalError}" th:class="error"></p>
    <div>
      <span>Type:</span>
        <select name="paymentType">
            <option th:each="paymentType : ${paymentTypes}" th:value="${paymentType.name()}" th:text="${paymentType.getLabel()}"></option>
        </select>
      <p th:text="${paymentTypeError}" th:class="error"></p>
    </div>
    <br>
    <div>
      <span>What:</span>
        <select name="spendingType">
            <option th:each="spendingType : ${spendingTypes}" th:value="${spendingType.name()}" th:text="${spendingType.getLabel()}"></option>
        </select>
      <p th:text="${spendingTypeError}" th:class="error"></p>
    </div>
    <br>
    <div>
      <span>Date:</span> <input type="date" name="spendingDate">
      <p th:text="${dateError}" th:class="error"></p>
    </div>
    <br>
    <div>
      <span>Amount:</span> <input type="number" name="spendingAmount" placeholder="Сколько?">
      <p th:text="${amountError}" th:class="error"></p>
    </div>
    <br>
    <div id="button"><span>Add</span></div>

  </form>
  </div>

  <table>
    <tr>
      <th id="type" class="center">Type</th>
      <th>What</th>
      <th id="date">Date</th>
      <th style="text-align: right" id="amount">Amount</th>
    </tr>
    <tr th:each="spending : ${entities}">
      <td th:text="${spending.getPaymentType().getLabel()}" />
      <td th:text="${spending.getSpendingType().getLabel()}" />
      <td th:text="${spending.getDate()}" />
      <td th:text="${spending.getAmount()}" />
    </tr>
    <tr id="if-empty">
      <td colspan="4"><span>Here you will see your expenses!</span></td>
    </tr>

  </table>

  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="/js/script.js"></script>

</div>
</body>
</html>
