<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" th:fragment="layout">
<head>
    <meta charset="UTF-8">
    <title th:include="this::header"/>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <link rel="icon" type="image/png" href="/images/profits.png">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="/css/materialize.css"  media="screen,projection"/>

</head>
<body>

<nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo"><img class="responsive-img" id="logo" src="/images/profits.png"/>&nbspExpense Manager</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="./index.html">Expense</a></li>
            <li><a href="./income.html">Income</a></li>
            <li><a href="./analytics.html">Analytics</a></li>
            <li><a href="./login.html">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
    <div th:include="this::content"/>
</div>

<script src="https://use.fontawesome.com/750b091ed5.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

</body>
</html>
