<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      th:include="layout::layout">
<head>
    <title th:fragment="header">Login</title>
</head>
<body>
<div th:fragment="content">
    <h2>Let's start planning!</h2>
    <br>
    <div th:if="${param.error}">
        Invalid username or password.
        <br>
    </div>
    <div th:if="${param.logout}">
        You have been logged out.
        <br>
    </div>
    <form th:action="@{/login}" method="post">
        <meta name="_csrf" th:content="${_csrf.token}"/>
        <meta name="_csrf_header" th:content="${_csrf.headerName}"/>
        <div><label> User Name : <input type="text" name="username"/> </label></div>
        <br>
        <div><label> Password: <input type="password" name="password"/> </label></div>
        <br>
        <div>
            <button class="btn waves-effect waves-main" type="submit" name="action">Sign In
                <i class="material-icons right">send</i>
            </button>
        </div>
    </form>
    <br>
    <p>You can <a href="/registration">add new spender</a> if you are not registered yet.</p>
</div>
</body>
</html>